= render 'shared/loggedin_header.html.haml'
.nav
  = link_to dashboard_path do
    .nav-notactive
      Application
  = link_to my_team_path do
    .nav-active
      My Team
.container
  = render 'shared/flash.html.haml'
  .application.team
    %h1 Teammates
    %div{style: 'margin-bottom: 15px;'}
      Teams are now locked in for admission purposes
    .form
      = form_tag root_url, method: :get do
        #hacker1.input
          %label.label
            = @current_name
          = text_field_tag 'current_user', current_user.email,
                                           disabled: true
          = submit_tag 'Send Invite', class: 'send', style: 'display:none;'
        #hacker2.input.empty
          %label.label
            = @others[0][:name]
          = text_field_tag :email_one, @others[0][:email],
                                       disabled: true
        #hacker3.input.empty
          %label.label
            = @others[1][:name]
          = text_field_tag :email_two, @others[1][:email],
                                       disabled: true
        #hacker4.input.empty
          %label.label
            = @others[2][:name]
          = text_field_tag :email_three, @others[2][:email],
                                       disabled: true
