= render 'shared/loggedin_header.html.haml'
.nav
  = link_to dashboard_path do
    .nav-notactive
      Application
  = link_to team_path(current_user.team_id) do
    .nav-active
      Team
.container
  .application.team
    %h1 Teammates
    .form
      = form_tag hacker_invitations_path, method: :post do
        #hacker1.input
          %label.label
            = @current_name
          = text_field_tag 'current_user', current_user.email,
                                           disabled: true
          = submit_tag 'Send Invite', class: 'send', style: 'display:none;'
        #hacker2.input.empty
          %label.label
            = @others[0][:name]
          = text_field_tag :email_one, @others[0][:email],
                                       disabled: @others[0][:present]
        #hacker3.input.empty
          %label.label
            = @others[1][:name]
          = text_field_tag :email_two, @others[1][:email],
                                       disabled: @others[1][:present]
        #hacker4.input.empty
          %label.label
            = @others[2][:name]
          = text_field_tag :email_three, @others[2][:email],
                                       disabled: @others[2][:present]
          %a.send
            Send Invite
      .divider
      #invitelink.input
        %label.label
          Invite Link
        %input{:readonly => "", :type => "text", :value => "#{invite_url @team}"}/
