.container
  .col-md-6
    .panel.panel-default
      .panel-heading
        This is your team
      %table.table
        %tr
          %th Hacker
          %th Email
          %th School

        - @team.hackers.each do |hacker|
          %tr
            %td= @current_name
            %td= hacker.email
            %td= hacker.school
  .col-md-6
    .panel.panel-default
      .panel-body
        = form_tag hacker_invitations_path, method: :post do
          .field
            = label_tag :current_user, 'Hacker One'
            = text_field_tag 'current_user', @current_name, disabled: true
          .field
            = label_tag :email_one, 'Hacker Two'
            = text_field_tag :email_one, @others[0][:name],
                                         disabled: @others[0][:dis]
          .field
            = label_tag :email_two, 'Hacker Three'
            = text_field_tag :email_two, @others[1][:name],
                                         disabled: @others[1][:dis]
          .field
            = label_tag :email_three, 'Hacker Four'
            = text_field_tag :email_three, @others[2][:name],
                                           disabled: @others[2][:dis]
          .actions
            = submit_tag 'Send invitations'

= link_to 'Leave team', controller: 'teams', action: :remove_hacker
= link_to 'Return to dashboard', dashboard_path
