!!!
%html
  %head
    %title BoilerMake Map Visualization
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://www.boilermake.org" />
    <meta property="og:title" content="BoilerMake" />
    <meta property="og:image" content="#{asset_url 'fb-website-image.png' }" />
    = stylesheet_link_tag    'bootstrap.min.css'
    = javascript_include_tag    'https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'
    = javascript_include_tag    'bootstrap.min.js'
    = csrf_meta_tags
  %body
    So far, #{@total_hackers} hackers have signed up, and #{@total_apps} have applied.
    
    schools: #{@school_info}
