.nav
  = link_to dashboard_path do
    .nav-active
      Application
  - if current_user.team.present?
    = link_to my_team_path do
      .nav-notactive
        My Team
  - else
    = link_to new_team_path do
      .nav-notactive
        Create Team
.container
  .application
    .form
      = form_for @hacker do |f|
        #firstname.input
          .label
            = f.label :first_name
          = f.text_field :first_name
        #lastname.input
          .label
            = f.label :last_name
          = f.text_field :last_name
        #school.input.search
          .label
            = f.label :school_id
          = f.text_field :school_id, id: 'schools', value: @school
        .input
          .label
            Gender
          = select_tag "gender", options_for_select( { 'Male'=> 'male',
                                 'Female'=> 'female',
                                 'Other'=> 'other',
                                 'Prefer not to specify'=> 'not_specified' } ),
                                 class: 'gender'
        = f.fields_for :application do |application_fields|
          #address-line-1.input
            .label
              = f.label :address_line_one
            = application_fields.text_field :address_line_one
          #address-line-2.input
            .label
              = f.label :address_line_two
            = application_fields.text_field :address_line_two
          #address-city-state-zip.input
            .label
              City, State, Zip
            = application_fields.text_field :city, class: 'span-6'
            = application_fields.text_field :state, class: 'span-2', maxlength: '2'
            = application_fields.text_field :zip_code, class: 'span-4'
          #github.input.link
            .label
              GitHub
            = application_fields.text_field :github
          #description.input.field
            .label
              Experience
              .sub-label
                Tell us a little bit more about who you are and what you’ve done.
            = application_fields.text_area :previous_experience, rows: '8'
        .submit
          = f.submit 'Update', id: 'save', class: 'button outline', style: 'cursor:pointer;'
