.nav
  = link_to dashboard_path do
    .nav-active
      Application
  - if current_user.team.present?
    = link_to my_team_path do
      .nav-notactive
        My Team
  - else
    = link_to new_team_path do
      .nav-notactive
        Create Team
.container
  = render 'shared/flash.html.haml'
  .application
    .form
      = form_for @hacker do |f|
        #firstname.input
          .label
            = f.label 'First Name'
          = f.text_field :first_name
        #lastname.input
          .label
            = f.label 'Last Name'
          = f.text_field :last_name
        #school.input.search
          .label
            = f.label :school_id
          = f.text_field :school_id, { id: 'schools',
                                      value: @school,
                                      disabled: 'true',
                                      style: 'opacity:0.5;'}
        = f.fields_for :application, @hacker.application do |application_fields|
          .input
            .label
              Gender
            = application_fields.collection_select :gender, @genders, :to_s,
              :to_s, {include_blank: "Please select"},
              class: 'gender'
          #github.input.link
            .label
              GitHub
            = application_fields.text_field :github
          #github.input.link
            .label
              LinkedIn
            = application_fields.text_field :linkedin, placeholder: 'https://www.linkedin.com/pub/my_name/99/999/999'
          #resume.input.link
            .label
              Link to Resume
            = application_fields.filepicker_field :resume, button_class: 'button outline confirm filepicker', onchange: 'filePicked(event)', button_text: @resume_button_text
            %p.note{style: 'display:none;'}
              Resume Submitted!
            - if @application.resume.present?
              = link_to "Current resume", @application.resume, target: '_blank', class:'button outline confirm'
          .input
            .label
              T-shirt Size
            = application_fields.collection_select :tshirt_size, @shirts,
                                                   :to_s, :to_s,
                                                   {include_blank: "Please select"},
                                                   class: 'gender'
          .input.link
            .label
              Cell Phone
            = application_fields.text_field :cell_phone
          .input.link
            .label
              Year of Graduation
            = application_fields.number_field :expected_graduation, value: 2016
          #description.input.field
            .label
              Dietary Restrictions
              .sub-label
                Please enter any dietary restrictions, leave blank if none.
            = application_fields.text_area :dietary_restrictions, rows: '4'
        .submit
          = f.submit 'Save', id: 'save', class: 'button outline', style: 'cursor:pointer;'
