.nav
  = link_to dashboard_path do
    .nav-active
      Application
  - if current_user.team.present?
    = link_to my_team_path do
      My Team
  - else
    = link_to new_team_path do
      Create Team
.container
  = render 'shared/flash.html.haml'
  .application
    %h1.alert-h1
      Decision:
      %span.status
        = current_user.status
    - if current_user.accepted? && current_user.confirmed?
      / fill in
    - elsif current_user.accepted? && !current_user.application_completed?
      / fill in
    - elsif current_user.accepted? && !current_user.confirmed
      / fill in
    - elsif current_user.standby?
      / fill in
    - elsif current_user.declined?
      / fill in
    - elsif current_user.rejected?
      / fill in
    - else
      / error
  .application
    .form
      = form_for @hacker do |f|
        .field
          .label
            = f.label 'Your name'
          .user-input
            = f.text_field :first_name, placeholder: "First Name"
            = f.text_field :last_name, placeholder: "Last Name"
        .field
          .label
            = f.label :school_id
          .user-input
            = f.text_field :school_id, { id: 'schools', value: @school, readonly: true, style: 'opacity:0.5;'}
        = f.fields_for :application, @hacker.application do |application_fields|
          .field
            .label
              Gender
            .user-input
              = application_fields.collection_select :gender, @genders, :to_s, :to_s, {include_blank: "Please select"}, class: 'gender'
          .field
            .label
              GitHub
            .user-input
              = application_fields.text_field :github, placeholder: 'https://github.com/shanedewael'
          .field
            .label
              LinkedIn
            .user-input
              = application_fields.text_field :linkedin, placeholder: 'https://www.linkedin.com/pub/my_name/99/999/999'
          .field
            .label
              Link to Resume
            .user-input.filepicker
              = application_fields.filepicker_field :resume, button_class: 'button outline confirm', onchange: 'filePicked(event)', button_text: @resume_button_text, mimetypes: 'application/pdf'
              %p.note{style: 'display:none;'}
                Resume Uploaded
                %br
                Don't forget to hit "Save" below!
              - if @application.resume.present?
                = link_to "Current resume", @application.resume, target: '_blank'
          .field
            .label
              T-shirt Size
            .user-input
              = application_fields.collection_select :tshirt_size, @shirts, :to_s, :to_s, {include_blank: "Please select"}, class: 'gender'
          .field
            .label
              Cell Phone
            .user-input
              = application_fields.text_field :cell_phone, placeholder: '(877)-CASH-NOW'
          .field
            .label
              Text Alerts?
            .user-input
              = application_fields.check_box :can_text
          .field
            .label
              Year of Graduation
            .user-input
              = application_fields.number_field :expected_graduation
          .field
            .label
              Dietary Restrictions
              .sub-label
                Please enter any dietary restrictions, leave blank if none.
            .user-input
              = application_fields.text_area :dietary_restrictions, rows: '4'
        .submit
          = f.submit 'Save', id: 'save', class: '', style: 'cursor:pointer;'
