= form_for @hacker do |f|
  - if @hacker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@hacker.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @hacker.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email, 'University Email'
    = f.text_field :email, required: true
  .field
    = f.label :password
    = f.password_field :password, required: true
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, required: true

  .actions
    = submit_tag 'Sign Up', class: 'btn btn-primary'
