%h1 Listing hackers
= will_paginate @hackers
%table.table.striped
  %tr
    %th First
    %th Last
    %th School
    %th Email
    %th
    %th Number of rankings
    %th Application Completed?
  - @hackers.each do |hacker|
    %tr
      %td= hacker.first_name
      %td= hacker.last_name
      %td= hacker.school.present? ? hacker.school.name : ""
      %td= hacker.email
      %td
        %a{href: "/execs/hacker_detail/#{hacker.id}",disabled: hacker.application_completed?}="Show"
      %td= "#{hacker.hacker_ranking.count}"
      %td= "#{hacker.application_completed?}"
= will_paginate @hackers

