%p#notice= notice

%p
  %b First name:
  = @hacker.first_name
%p
  %b Last name:
  = @hacker.last_name
%p
  %b School:
  = @hacker.school.name if @hacker.school
%p
  %b Team:
  = @hacker.team_id
%p
  %b Email:
  = @hacker.email
%p
  %b Gender:
  = @hacker.application.gender
%p
  %b Expected graduation:
  = @hacker.application.expected_graduation
%p
  %b Github:
  = @hacker.application.github
%p
  %b Tshirt size:
  = @hacker.application.tshirt_size
%p
  %b Cell phone:
  = @hacker.application.cell_phone
%p
  %b Linkedin:
  = @hacker.application.linkedin
%p
  %b Dietary restrictions:
  = @hacker.application.dietary_restrictions
%p
  %b Previous experience:
  = @hacker.application.previous_experience
%p
  %b Essay:
  = @hacker.application.essay

= link_to 'Edit', edit_hacker_path(@hacker)
\|
= link_to 'Back', hackers_path
