.container
  = form_tag '/execs/checkin/query', remote: true, "data-type" => :json do
    = label_tag 'fname'
    = text_field_tag :first_name
    = label_tag 'lname'
    = text_field_tag :last_name
    = label_tag 'email'
    = text_field_tag :email

    = submit_tag "Submit"
