= content_for :extra_css do
  =# stylesheet_link_tag 'dashboard'
= content_for :manual_css do
  :css
    body {
    }
.container
  %h1
    = "Welcome, #{current_user.email}"
  .exec-toolbar
    = link_to 'Announcements', updates_path, class: 'button outline'
    = link_to 'Hacker Listing', hackers_path, class: 'button outline'
    = link_to 'Schools', schools_path, class: 'button outline'
    = link_to 'Export Schools as CSV', schools_export_path, class: 'button outline'
    = link_to 'Export Hackers as CSV', execs_export_path, class: 'button outline'
  %h2
    HACKER REGISTRATIONS
  %h3
    = "Motherfuckers wanting to kick ass at #{HACKATHON}:"
    %span{style: 'color: #f5a623;'}=  @applied_count
  %h3
    = "People with EDU emails"
    %span{style: 'color: #f5a623;'}=  @interested_student_count
  %h3
    = "Unique schools"
    %span{style: 'color: #f5a623;'}=  @school_count
