= content_for :extra_css do
  =# stylesheet_link_tag 'dashboard'
= content_for :manual_css do
  :css
    body {
    }
.container
  %h1
    = "Welcome, #{current_user.email}. You have ranked #{current_user.hacker_ranking.count} hackers!"
  .exec-toolbar
    = link_to 'Announcements', updates_path, class: 'button outline'
    = link_to 'Hacker Listing', hackers_path, class: 'button outline'
    = link_to 'Schools', schools_path, class: 'button outline'
    = link_to 'Export Schools as CSV', schools_export_path, class: 'button outline'
    = link_to 'Export Hackers as CSV', execs_export_path, class: 'button outline'
    = link_to 'CSV of hackers with incomplete applications', execs_incomplete_hackers_path, class: 'button outline'
  %h2
    = link_to 'rank hackers', execs_ranker_path
  %h2
    Ranking Leaderboard
  %table.table.striped
    %tr
      %td Email
      %td Hackers ranked
    - @execs.each do |exec|
      %tr
        %td= exec.email
        %td= exec.hacker_ranking.count

  %h2
    HACKER REGISTRATIONS
  %h3
    = "Motherfuckers wanting to kick ass at #{HACKATHON}:"
    %span{style: 'color: #f5a623;'}=  @registered_count
  %h3
    = "Motherfuckers who have actually started their application:"
    %span{style: 'color: #f5a623;'}=  @application_count
  %h3
    = "Motherfuckers who have actually finished their application:"
    %span{style: 'color: #f5a623;'}=  @application_completed_count
  %h3
    = "Unique schools"
    %span{style: 'color: #f5a623;'}=  @school_count
