= content_for :extra_css do
  = stylesheet_link_tag 'dashboard'
  = stylesheet_link_tag 'hackers'
= content_for :manual_css do
  :css
    body {
      background-image: url("/assets/hero2.jpg");
    }
    table a {
      color: white;
      text-decoration: underline;
    }
.container
  %h1
    = "Hackers from #{@school.name}"
  .exec-toolbar
    = link_to 'Exec Dashboard', execs_dashboard_url, class: 'button outline'
    .export-buttons{style: 'margin-top: 30px'}
      %a{ download: 'hackers.xls', href: '#',
          onclick: 'return ExcellentExport.excel(this, "hacker_info", "hackers");',
          class: 'button outline'}
        Export to Excel
      %a{ download: 'hackers.csv', href: '#',
          onclick: 'return ExcellentExport.csv(this, "hacker_info", "hackers");',
          class: 'button outline'}
        Export to CSV
  %h2
    = "Hackers wanting to kick ass:"
    %span{style: 'color: #f5a623;'}=  @hackers.count
  %table#hacker_info
    %thead
      %th{style: 'color: #f5a623;'} Name
      %th{style: 'color: #f5a623;'} Email
    %tbody
      - @hackers.each do |hacker|
        %tr
          %td= hacker.full_name
          %td= hacker.email
