- if flash != nil
  -flash.each do |key, value|
    .alert{ :class => "alert alert-danger" }
      %strong
        = value
.container
  %h1 School List
  %table.table.striped.table-bordered.table-hover
    %tr
      %th School Name
      %th Applicant Count
    - @results.each do |result|
      %tr
        %td= link_to(result.name, "school/" + result.schools_id.to_s, target: "blank")
        %td= result.applicant_count
  %hr      
  %h1 hackers with n/a status irregardless of school
  %table.table.striped.table-bordered.table-hover
    %tr
      %th Applicant Name
      %th School Name
    - @unmarked.each do |result|
      %tr
        %td= result.full_name
        %td= result.school.name