= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.4/js/jquery.tablesorter.min.js'
:css
  body {
    margin-top: 50px;
  }
  .move {
    margin-right: 8px;
  }
:javascript
  $(document).ready(function() { 
      $("#myTable").tablesorter();
      $('#select-all').click(function(event) {   
        if(this.checked) {
          $(':checkbox').each(function() {
            this.checked = true;                        
          });
        }
        else {
          $(':checkbox').each(function() {
            this.checked = false;                        
          });
        }
       });
   }); 

.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand #{@school.name}
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %button.btn.btn-success.navbar-btn.move Accept
        %li
          %button.btn.btn-warning.navbar-btn.move Waitlist
        %li
          %button.btn.btn-danger.navbar-btn.move Deny
/ <pre>
/ #{@hackers.to_yaml}
/ </pre>
.container
  %h1 Applications from #{@school.name}
  %small Click on table headers to sort
  %table{:class => "table striped table-bordered table-hover tablesorter", :id => "myTable"}
    %thead
      %tr
        %th
          All
          %input{:type=>"checkbox", :id => "select-all"}
        %th Status
        %th Number of Rankings
        %th Average Ranking
        %th Name
        %th Major
        %th Gender
        %th Email
    %tbody
    - @hackers.each do |hacker|
      %tr
        %td
          %input{:type=>"checkbox", name: hacker.id.to_s}
        %td= hacker.status
        %td= hacker.hacker_ranking.count
        %td= hacker.average_ranking 
        %td= hacker.first_name + " " + hacker.last_name
        %td= hacker.application.major
        %td= hacker.application.gender
        %td= hacker.email