:css
  body {
    margin-top: 50px;
  }
  .move {
    margin-right: 8px;
  }

.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand #{@school.name}
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %button.btn.btn-success.navbar-btn.move Accept
        %li
          %button.btn.btn-warning.navbar-btn.move Waitlist
        %li
          %button.btn.btn-danger.navbar-btn.move Deny
/ <pre>
/ #{@hackers.to_yaml}
/ </pre>
.container
  %h1 Applications from #{@school.name}
  %table.table.striped.table-bordered.table-hover
    %tr
      %th 
        %a= "make this select all"
        %input{ :type=>"checkbox" }
      %th Status
      %th Number of Rankings
      %th Average Ranking
      %th Name
      %th Major
      %th Gender
      %th Email
    - @hackers.each do |hacker|
      %tr
        %td
          %input{ :type=>"checkbox" }
        %td= hacker.status
        %td= hacker.hacker_ranking.count
        %td= hacker.average_ranking 
        %td= hacker.first_name + " " + hacker.last_name
        %td= hacker.application.major
        %td= hacker.application.gender
        %td= hacker.email