= content_for :extra_css do
  = stylesheet_link_tag 'dashboard'
  = stylesheet_link_tag 'hackers'
= content_for :manual_css do
  :css
    body {
      background-image: url("/assets/hero2.jpg");
    }
    table a {
      color: white;
      text-decoration: underline;
    }
.container
  %h1= "Hacker Shirt Size Breakdown"
  - @shirt_sizes.each do |size|
    = "#{size} - #{@shirts[size]}"
    %br
