.field
  = f.label :expected_graduation
  = f.datetime_select :expected_graduation
.field
  = f.label :tshirt_size
  = f.text_field :tshirt_size
.field
  = f.label :cell_phone
  = f.text_field :cell_phone
.field
  = f.label :linkedin
  = f.text_field :linkedin
.field
  = f.label :dietary_restrictions
  = f.text_field :dietary_restrictions
