%h1 Apply

= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name, 'First Name'
    = f.text_field :first_name
  .field
    = f.label :last_name, 'Last Name'
    = f.text_field :last_name
  .field
    = f.label :school_id
    = f.collection_select :school_id, @schools, :id, :name, {:include_blank => "Please select"}
    %br
    = f.label :school_other, 'My school isn\'t on this list'
    = check_box :school_other, 'true'
    %br
    = f.text_field :school_id
  .field
    = f.label :team_id
    = f.number_field :team_id
  .field
    = f.label :email, 'University Email'
    = f.text_field :email
  .field
    = f.label :gender
    = f.radio_button :gender, 'Male'
    = f.label :male, 'Male'
    = f.radio_button :gender, 'Female'
    = f.label :female, 'Female'
    = f.radio_button :gender, 'Other'
    = f.label :other, 'Other'
    = f.radio_button :gender, 'NA'
    = f.label :na, 'I Choose Not to Specify'
  .field
    = f.label :github
    = f.text_field :github
  .field
    = f.label :previous_experience, 'Previous Experience'
    = f.text_area :previous_experience
  .field
    = f.label :essay, 'Past Projects'
    = f.text_area :essay
  .actions
    = f.submit 'Apply'
