%h1 Listing users

%table
  %tr
    %th First name
    %th Last name
    %th School
    %th Team
    %th Email
    %th Gender
    %th Expected graduation
    %th Github
    %th Tshirt size
    %th Cell phone
    %th Linkedin
    %th Dietary restrictions
    %th Previous experience
    %th Essay
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.first_name
      %td= user.last_name
      %td= user.school_id
      %td= user.team_id
      %td= user.email
      %td= user.gender
      %td= user.expected_graduation
      %td= user.github
      %td= user.tshirt_size
      %td= user.cell_phone
      %td= user.linkedin
      %td= user.dietary_restrictions
      %td= user.previous_experience
      %td= user.essay
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
