.header
  .container
    .logo
    - if current_user.nil?
      %a#login.button.outline{:style => "cursor:pointer;"} Log In
      = form_tag sessions_path, id: 'login-form' do
        = email_field_tag :email, nil,
          { style: 'display:none;margin-top:35px', id: 'emaillogin',
            class: 'flat-input sign-up', placeholder: 'Email'}
        .clearfix
        = password_field_tag :password, nil,
          { style: 'display:none;', id: 'passwordlogin',
            class: 'flat-input sign-up', placeholder: 'Password' }
        .clearfix
        %p.login-text
          %input.login-text{:type => "checkbox"}
          Remember Me
        %a.login-text#forgotpassword Forgot Password
        = submit_tag :Submit,
          { style: 'display:none;', id: 'submitlogin',
            class: 'flat-button submit' }
    - else
      = link_to 'Log Out', logout_path, class: 'button outline'
  = render 'shared/flash.html.haml'

.forgotpassword-reset
  %h1 Let's get you back up and running.
  %p Enter a password that you'll love.
  %input.flat-input{:placeholder => "New Password"}
  %input.flat-input{:placeholder => "Confirm New Password"}
  %input.flat-button.submit{:value => "Submit", :type => "submit"}