%div#container-scroll
  %div.bg-image#bg
    %canvas#background This text is displayed if your browser does not support HTML5 Canvas.

  .main-content
    .updates
      %ul
        - @updates.each do |update|
          %li #{link_to update.title, updates_url} <br> #{truncate(update.body, length: 75, omission: '...')}
        .clear
    =render "shared/flash.html.haml"
    .cover.vertical-center
      =image_tag("logo-thin-white.svg")
      %h1 BoilerMake
      %p Oct. 16–18 | Purdue University
      - if current_user.present?
        %div.button-row
          - if current_user.exec?
            = link_to execs_dashboard_url do
              %button.button Dashboard
          - elsif current_user.sponsor?
            = link_to sponsors_resume_portal_url do
              %button.button Dashboard
          - else
            = link_to dashboard_url do
              %button.button Dashboard
          = link_to logout_url do
            %button.button Log Out
      - else
        %div.button-row
          %button.button#applyButton Applications Closed!
          %a{href: 'mailto:sponsorship@boilermake.org'}
            %button.button Sponsor
        %div.button-row
          %button.button-plain{onclick: 'showForm("#loginForm")'} Already Registered?
      .scrolldown
        %a{:href => "#about", :id => "scrollBtn"} scroll down

  - if @should_skip_intro
    = javascript_tag do
      window.shouldSkipIntro = true;

  %div.full-form.loginForm#loginForm{style: 'display: none;'}
    = form_tag sessions_path do
      = label_tag 'Email'
      = email_field_tag :email, nil
      = label_tag 'Password'
      = password_field_tag :password, nil
      %div.button-row
        = submit_tag 'log in', { class: 'button' }
        = button_tag "Cancel", type: 'button', class: 'button', onclick: 'hideForm()'
        = button_tag "Forgot Password?", type: 'button', class: 'button', onclick: 'showForm("#forgotPasswordForm")'

  %div.full-form.passwordForm#forgotPasswordForm{style: 'display: none;'}
    = form_tag password_resets_path, method: :post do
      = label_tag 'Email'
      = email_field_tag :email, nil
      %div.button-row
        = submit_tag 'Reset Password', { class: 'button' }
        = button_tag "Cancel", type: 'button', class: 'button', onclick: 'hideForm()'

  .replace-div
  .navigation
    .nav-content
      %span.logo
        = image_tag("bm_logo_basic.png")
      %span.nav-links
        = link_to 'About', '#about'
        = link_to 'FAQ', '#faq'
        = link_to 'Sponsors', '#sponsors'

  .about#about
    .body-content
      %h2 About
      .col.column-left
        At BoilerMake, you form teams of up to four and create something entirely from scratch within the 36-hour period while interacting with engineers from top tech companies. Everything we do is for you, the hackers, the designers, the innovators, and the dreamers. Everything is provided for you, including swag, food, and hardware to hack on. Apply today and join us for a weekend where you will be mentored, challenged, and inspired. Check out our video from last year!
      .col.column-right
        / %iframe{:src => "https://www.youtube.com/embed/Wgs1nLJKqNY" :width => '100px'}
        %a.video{:href => "https://www.youtube.com/watch?v=Wgs1nLJKqNY"}
        / %iframe{:width => "560" :height => "315" :src => "https://www.youtube.com/embed/Wgs1nLJKqNY", :frameborder => "0" :allowfullscreen}
        %a.gallery-button{:href => "https://www.flickr.com/photos/austinlouden/sets/72157650067773245"}
          BoilerMake 2014 Gallery
      .clear

  .gradient-background
    .schedule#schedule
      .body-content
        %h2 Schedule
        .col
          %h4 Friday, October 16th
          .location#loc1
            .entry
              %p.time 8-9pm
              %p.description Registration (Co-rec)
            .entry
              %p.time 9:30-10:30pm
              %p.description
                Opening Banquet (Co-rec)
                %span.details Dinner + Opening Ceremonies
          .location#loc2
            .entry
              %p.time 11pm
              %p.description Hacking Begins (Lambert)
            .entry
              %p.time 11pm-12am
              %p.description Demo PureCloud API "The Ultimate Communication Platform"
            %h4.margin-top Saturday, October 17th
            .entry
              %p.time 12pm-1am
              %p.description Apple Watch Dev Workshop
            .entry
              %p.time 1-1:30am
              %p.description How to Use Microsoft Azure in Your Hacking Project
            .entry
              %p.time 3-4am
              %p.description Late Night Snack
            .entry
              %p.time 8-9am
              %p.description Breakfast
            .entry
              %p.time 12-1pm
              %p.description Lunch
            .entry
              %p.time 3-4pm
              %p.description Sheryl Sanberg Event
            .entry
              %p.time 4-5pm
              %p.description Savings Guesser
            .entry
              %p.time 5-5:30pm
              %p.description Booz Allen Hamilton Tech Talk
            .entry
              %p.time 6-7pm
              %p.description Dinner
        .col
          %h4 Sunday, October 18th
          .location#loc3
            .entry
              %p.time 1-2am
              %p.description Late Night Snack
            .entry
              %p.time 8-9am
              %p.description Breakfast
            .entry
              %p.time 11am
              %p.description Hacking Ends
            .entry
              %p.time 12-2pm
              %p.description Expo
          .location#loc4
            .entry
              %p.time 3-4pm
              %p.description Closing Ceremonies
            .entry
              %p.time 4pm
              %p.description Safe travels home!

    .locations#locations
      .body-content
        %h2 Locations
        .col
          %h4
            %span Check-in, Opening Banquet
            %br
            Recreational Sports Center (Co-rec)
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "212", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6074.217218349222!2d-86.91983065246639!3d40.428593897955636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x1720d78cbd5a1dce!2sFrance+A.+C%C3%B3rdova+Recreational+Sports+Center!5e0!3m2!1sen!2sus!4v1444328351380", :style => "border:0", :width => "212"}
        .col
          %h4
            %span THE HACKATHON
            %br
            Lambert Fieldhouse (Lambert)
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "212", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.946805360713!2d-86.91811748489242!3d40.43217677936333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8812fd4cc0321787%3A0xcf6f550e52748872!2sLambert+(Ward+L.)+Fieldhouse+and+Gymnasium%2C+800+W+Stadium+Ave%2C+West+Lafayette%2C+IN+47906!5e0!3m2!1sen!2sus!4v1444329221640", :style => "border:0", :width => "212"}
        .col
          %h4
            %span CLOSING CEREMONIES
            %br
            Loeb Playhouse in the Stewart Center (Loeb)
          %iframe{:allowfullscreen => "", :frameborder => "0", :height => "212", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d759.3159089952092!2d-86.91350828575308!3d40.42516083560792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x27838a5182e92185!2sStewart+Center!5e0!3m2!1sen!2sus!4v1444329267349", :style => "border:0", :width => "212"}

    .faq#faq
      .body-content
        %h2 FAQ
        %p
          BoilerMake abides by the  
          %a{:href=> "http://static.mlh.io/docs/mlh-code-of-conduct.pdf"}
            MLH Code of Coduct.
        .col
          %h4 Can I edit my application?
          %p Yes, you can edit all of your information up until our application deadline
          %h4 I have no experience. Should I apply?
          %p Yes! Hackathons are a melting pot for learning new technologies and innovation. Companies will have mentors there who are willing to help you overcome any problems you are having.
          %h4 How do I get there?
          %p If an area or school has enough applicants, we will send a bus there and assign a bus coordinator for that area. There are some specific cases where we will provide travel reimbursement. If you are very eager to come and didn’t get accepted and want to drive yourself be sure to let us know at team@boilermake.org.
        .col
          %h4 When do applications close?
          %p Applications close on September 13th at 11:59pm EST.
          %h4 Wait I didn't see a team option on the application?
          %p That was intentional! The only time we will be asking you for your teammates is when you submit your hack for judging.
          %h4 I want a team/I want to work solo
          %p It’s common for people to work solo or meet hackers at the event and form a team once you get there. Don’t stress out about not having a team!
          
        .col.col-last
          %h4 I'm not in college can I still apply?
          %p Yes, we encourage you to apply!
          %h4 You mentioned "bus coordinator" what/who is that?
          %p Every school that we send a bus to will have a bus coordinator. They will be your main contact about anything BoilerMake related. With acceptances we will give you the contact info of your coordinator. They will be the one at your school responsible for filling the bus and making sure you are on the bus ride home.
          %h4 What's this about hardware?
          %p So much hardware. Check out the BoilerMake Hardware Lab #{link_to 'here', 'https://docs.google.com/spreadsheets/d/1mvnBU8ATJURhFqwCQAyIT8MY_uw_Yo4SGOqTsh75O-E/edit?usp=sharing'}. And MLH has their own hardware lab #{link_to 'here', 'https://mlh.io/hardware-lab'}.
          
         
        .clear

  .sponsors#sponsors
    .body-content
      %h2 Sponsors
      .sponsor.platinum
        %a{:href => "http://www.inin.com"}
          =image_tag "inin.png"
      .clear
      .sponsor.gold
        %a{:href => "http://www.purduesg.com/sfab/"}
          =image_tag "sfab.jpg"
      .sponsor.gold
        %a{:href => "http://www.apple.com/jobs/students"}
          =image_tag "apple-logo.jpg"
      .clear
      .sponsor.gold.center
        %a{:href => "http://www.walmart.com"}
          =image_tag "walmart.jpg"
      .clear
      .sponsor.silver
        %a{:href => "http://www.bloomberg.com/"}
          =image_tag "bloomberg.jpg"
      .sponsor.silver
        %a{:href => "https://www.rockwellcollins.com/"}
          =image_tag "rockwell-collins.jpeg"
      .sponsor.silver
        %a{:href => "http://www.boozallen.com/"}
          =image_tag "bah.jpg"
      .clear
      .sponsor.silver
        %a{:href => "http://www.salesforce.com/"}
          =image_tag "salesforce.png"
      .sponsor.silver
        %a{:href => "http://www.att.com/"}
          =image_tag "att.png"
      .sponsor.silver
        %a{:href => "http://www.claritypartners.com/"}
          =image_tag "clarity.png"
      .clear
      .sponsor.silver
        %a{:href => "https://www.trunkclub.com/"}
          =image_tag "tc.jpg"
      .sponsor.silver
        %a{:href => "http://www.microsoft.com/en-us/"}
          =image_tag "microsoft.png"
      .sponsor.silver
        %a{:href => "https://www.qualcomm.com/"}
          =image_tag "qualcomm.png"
      .clear
      .sponsor.silver
        %a{:href => "http://www.krannert.purdue.edu/"}
          =image_tag "management.png"
      .sponsor.silver
        %a{:href => "https://www.cs.purdue.edu/"}
          =image_tag "cs.png"
      .sponsor.silver
        %a{:href => "https://polytechnic.purdue.edu/degrees/computer-and-information-technology"}
          =image_tag "cit.png"   
      .clear
      .sponsor.silver.center
        %a{:href => "http://www.epic.com/"}
          =image_tag "epic.png"
      .clear
      .sponsor.api
        %a{:href => "https://www.slice.com/"}
          =image_tag "slice.png"
      .sponsor.api
        %a{:href => "https://picnichealth.com/"}
          =image_tag "picnic.png"
      .sponsor.api
        %a{:href => "https://www.namecheap.com/"}
          =image_tag "namecheap.png"
      .sponsor.bronze
        %a{:href => "http://www.sep.com/"}
          =image_tag "sep.png"
      .clear
      .sponsor.bronze
        %a{:href => "http://xtern.me/"}
          =image_tag "xtern.png"

      



= render "shared/header"
