%div.container-fluid.orange-juice
  %div.crate
    %div.carton-wrapper#carton-1-1
      %div.carton.empty
        %div.row.center-align-small
          %div.col.col-sm-3.col-sm-offset-1
            %div.logo
              =image_tag 'bm-logo-full.svg'
          %div.col.col-sm-6
            %div.info
              %h1 BoilerMake
              %p Oct. 16-18 | Purdue University
              .new-user.btn-row#signupForm
                = form_for @hacker do |f|
                  = f.label :email
                  = f.email_field :email
                  = f.label :password
                  = f.password_field :password
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation
                  = f.submit "Register", id: 'submitRegistration'
                  = button_tag "Cancel", :type => 'button'
              .login#loginForm
                = form_tag sessions_path do
                  = label_tag 'Email'
                  = email_field_tag :email, nil
                  = label_tag 'Password'
                  = password_field_tag :password, nil
                  .remember-me-container
                    %input{type: "checkbox"}
                    %span
                      Remember Me
                  = submit_tag 'log in', id: 'submitLogin'
                  = button_tag "Cancel", :type => 'button'
              %div.btn-row#applySponsor
                %button.apply-btn#applyMeow
                  Apply Now
                %button.sponsor-btn#sponsorPlz
                  Sponsor
              %div.btn-row#alreadyRegistered
                %button.login-button#loginMeow
                  Already registered?
    %div.carton-wrapper.offscreen-right#carton-1-2
      %div.carton.full
  %div.crate#crate-2
    %div.carton-wrapper.full#carton-2-1
      %div.carton.full
        %h2 What is BoilerMake?
        %div.row.main-img
          %div.col-sm-4.col-sm-offset-1.padding-right
            =image_tag 'photo1.jpg'
          %div.col-sm-5.main-text
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula nisl eget dapibus elementum. Mauris commodo urna arcu, sed aliquet lorem dictum quis. Donec suscipit leo id odio scelerisque, ut malesuada lorem dignissim. Sed eleifend quis lorem id condimentum. Nulla euismod consequat sem sed interdum. Vivamus porttitor odio nec dui lobortis fringilla. Fusce tempus eget arcu id facilisis. Duis ultrices venenatis purus, vitae posuere eros vestibulum in. Fusce semper quam sed mauris mattis vehicula.
        %div.row
          %div.col-sm-2.col-sm-offset-1.padding-right
            =image_tag 'photo2.jpg'
          %div.col-sm-2.right-picture
            =image_tag 'photo3.jpg'


%script{src: 'bootstrap.min.js'}
%script{src: 'assets/main.js'}

= render 'shared/header'
