= render 'shared/header'
= content_for :extra_js do
  = javascript_include_tag 'http://www.youtube.com/player_api'
.main.clearfix{:role => 'main'}
.content
  %section.hero
    .container
      = '<h1 class=\'hero-headline\'><span>Forge</span> the future</h1>'.html_safe
      .hammers
        = image_tag 'hammers.png'
      %h3 October 17th-19th - Purdue University
      %h4 36 hours, 500 students, $10,000 in prizes
      = render 'shared/flash.html.haml'
      - if current_user.nil?
        #apply-here.apply-toggle.button.cta.form-button Applications Closed
      -else
        = link_to 'My Application', dashboard_path, class: 'submit cta button'
  %section.mission.clearfix
    .container
      .mission-headline
        %h3
          Our team's goal is to drive a culture of innovation, creativity, and achievement across the nation.
        %p
          That’s why we’re organizing BoilerMake, a 36-hour hackathon at Purdue where teams of students create software and hardware projects that solve important, real-world problems. BoilerMake brings together highly talented university students with top-tier companies to support the development of remarkable student projects and personal relationships.
      .video-headline
        .video
          .btn.btn-lg.btn-success{'data-target' => '#basicModal', 'data-toggle' => 'modal'}
            = image_tag 'video.png'
          / MODAL
          #basicModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'basicModal', :role => 'dialog', :tabindex => '-1'}
            .modal-dialog
              .modal-content
                .modal-body
                  %iframe{ id: 'player', allowfullscreen: '', frameborder: '0', src: '//www.youtube.com/embed/P5a__iXkKHE'}
                .modal-footer
                  %button.button#closeVideo{'data-dismiss' => 'modal', :type => 'button'} Close
          %h3 Watch the video from BoilerMake 2013.
  %section.wide-image-container
    .wide-image-1
  %section.speakers.clearfix
    .container
      %h2.section-head
        Who's Coming?
      %h4{style: "font-size:1.4em; font-weight: 100; color: #444444; border-bottom: 1px solid #444444;"}
        JUDGES
      .avitars
        .person-container
          .img-container
            = image_tag 'jonas.jpg'
          .title-container
            %h5 Jonas Lamis
            %h6 CEO and Co-founder, Sensai Corporation
          %p  Jonas Lamis is a Boilermaker now living the startup dream in Silicon Valley.
          .social
            %ul
              %li
                %a.ss-icon.ss-standard{href: "http://www.sens.ai"} globe
              %li
                %a.ss-icon.ss-social{href: "http://twitter.com/jonaslamis"} twitter
        .person-container
          .img-container
            = image_tag 'arthur.jpg'
          .title-container
            %h5 Arthur Nisnevich
            %h6 CTO, All4Staff
          %p Arthur is currently the co-founder and CTO of All4Staff, a Techstars company based in Boulder, Colorado.
          .social
            %ul
              %li
                %a.ss-icon.ss-social{href: "http://twitter.com/ArthurN"} twitter
        .person-container
          .img-container
            = image_tag 'mattan.jpg'
          .title-container
            %h5 Mattan Griffel
            %h6 CEO and Co-founder, One Month (YC S13)
          %p Mattan started One Month, the "For Dummies" of online education.
          .social
            %ul
              %li
                %a.ss-icon.ss-standard{href: 'http://onemonth.com'} globe
              %li
                %a.ss-icon.ss-social{href: "http://twitter.com/mattangriffel"} twitter
        .person-container
          .img-container
            = image_tag 'daniel.jpg'
          .title-container
            %h5 Daniel Palacio
            %h6 Founder, Authy Inc.
          %p Daniel is the founder of Authy Inc and a passionate security expert and entrepreneur.
          .social
            %ul
              %li
                %a.ss-icon.ss-standard{href: 'http://authy.com'} globe
              %li
                %a.ss-icon.ss-social{href: "http://twitter.com/danielpalacio"} twitter
        .person-container
          .img-container
            = image_tag 'holly.jpg'
          .title-container
            %h5 Holly Jade Chan
            %h6 Designer, M.S. + B.S. Purdue University
          %p Holly worked at Apple and is featured by places including Google for Entrepreneurs, Entrepreneur Magazine and TEDx 
          .social
            %ul
              %li
                %a.ss-icon.ss-standard{href: 'http://hollyjadecreates.com'} globe
  %section.wide-image-container
    .wide-image-2
  %section.faq.clearfix
    .container
      %h2.section-head Questions
      .text-box
        .text-box-container
          %h4
            What can I make?
          %p
            Web, desktop, mobile, hardware- it’s up to you to make whatever kind of project you want as long as it is software-related.
        .text-box-container
          %h4
            How do I get there?
          %p
            We’re sending buses to the universities from which we receive the most interest and offering travel reimbursements to everyone else.
        .text-box-container
          %h4 Who can apply?
          %p Any student from around the world is welcome to apply. Join your friends and create a team of up to four people! Students who aren’t undergraduates are also encouraged to apply.
        .text-box-container
          %h4
            How do I apply?
          %p
            Submit your application before September 1st by clicking 'Apply Now' above. We'll send decisions out shortly after September 1st. We'll also be maintaining a waitlist of those who are not accepted.
        .text-box-container
          %h4
            Have more questions?
          %p
            Feel free to email us at
            %strong=mail_to 'team@boilermake.org', nil, {style: 'color:black'}
            !
  %section.wide-image-container
    .wide-image-3
  %section.sponsors.clearfix
    .container
      .sponsors-header.clearfix
        %h2.section-head Sponsors
      .sponsors-container
        .platinum
          %p.sponsor-cat Platinum
          .img
            = link_to 'http://www.inin.com/careers/Pages/default.aspx' do
              = image_tag 'inin2.png'
      .sponsors-container
        .gold
          %p.sponsor-cat Gold
          .img
            = link_to 'http://www.kaplusa.com/' do
              = image_tag 'kaplusa.png'
          .img.apple
            = link_to 'http://www.apple.com/jobs/students' do
              = image_tag 'apple.jpg'
      .sponsors-container
        .silver
          %p.sponsor-cat Silver
          .img
            = link_to 'http://www.exacttarget.com/company/careers' do
              = image_tag 'exacttarget.png'
          .img
            = link_to 'http://www.boozallen.com/careers' do
              = image_tag 'Booz.png'
          .img
            = link_to 'http://jobs.bloomberg.com/' do
              = image_tag 'Bloomberg.png'
          .img
            = link_to 'http://www.twilio.com/' do
              = image_tag 'twilio.png'
          .img
            = link_to 'https://www.paypal.com/' do
              = image_tag 'paypal.png'
          .img
            = link_to 'http://www.mongodb.org/' do
              = image_tag 'mongodb.png'
          .img
            = link_to 'https://www.trunkclub.com/' do
              = image_tag 'trunkclub.png'
          .img
            = link_to 'http://qualcomm.com' do
              = image_tag 'qualcomm.png'
      .sponsors-container
        .bronze
          %p.sponsor-cat Bronze
          .img
            = image_tag 'google.png'
          .img
            = image_tag 'mlh.png'
          .img
            = image_tag 'challengepost.png'
          .img
            = image_tag 'qumulo.png'
          .img
            = image_tag 'lob.png'
%footer{:role => "contentinfo"}
  .container
    .footer-top
      =link_to root_url, class: 'logo-container' do
        =image_tag 'logo.png', class: 'logo'
    .footer-bottom
      %p.copyright &copy; 2014 BoilerMake. All rights reserved.
      .social
        %ul
          %li
            %a.ss-icon.ss-social{href: 'https://www.facebook.com/Boilermake?ref=br_tf'} facebook
          %li
            %a.ss-icon.ss-social{href: 'https://twitter.com/BoilerMake1'} twitter
          %li
            %a.ss-icon.ss-social{href: 'mailto:team@boilermake.org'} mail
/ jQuery is called via the Wordpress-friendly way via functions.php
.forgot-password{style: 'display:none;'}
  %h1 Next time try writing it down.
  %p But this time we'll help you out, what's your email?

  = form_tag password_resets_path, method: :post do
    .field
      = text_field_tag :email, params[:email], { class: 'flat-input'}
    .actions
      = submit_tag 'Reset Password', {class: 'flat-button submit'}
  %p.return Return
