%div.bg-image#bg
  %canvas#background This text is displayed if your browser does not support HTML5 Canvas.


%div.content
  .cover
    =image_tag("logo-thin-white.svg", class: "flickerIn")
    %h1.flickerIn BoilerMake
    %p.flickerIn Oct. 16–18 | Purdue University
    %div.button-row
      %button.button.flickerIn#applyButton{onclick: 'showForm("#signupForm")'} Apply
      %button.button.flickerIn Sponsor
    %div.button-row
      %button.button-plain.flickerIn{onclick: 'showForm("#loginForm")'} Already Registered?

%div.full-form#signupForm{style: 'display: none;'}
  = form_for @hacker do |f|
    = f.label :email
    = f.email_field :email
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation
    = f.password_field :password_confirmation
    %div.button-row
      = f.submit "Register", class: 'button'
      = button_tag "Cancel", :type => 'button', class: 'button', onclick: 'hideForm()'

%div.full-form#loginForm{style: 'display: none;'}
  = form_tag sessions_path do
    = label_tag 'Email'
    = email_field_tag :email, nil
    = label_tag 'Password'
    = password_field_tag :password, nil
    %div.button-row
      = submit_tag 'log in', { class: 'button' }
      = button_tag "Cancel", :type => 'button', class: 'button', onclick: 'hideForm()'

= render "shared/header"
