= content_for :javascript do
  = javascript_tag 'http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js'
= content_for :extra_css do
  = stylesheet_link_tag 'updates'
  = stylesheet_link_tag 'dashboard'
  = stylesheet_link_tag 'hackers'
.container
  %h1 Announcements
  - if current_user.present? && current_user.exec?
    = link_to  'Post New Announcement', new_update_path
  - @updates.each do |update|
    .update
      .update-header
        %h2.update-title
          = update.title
        %span.update-timestamp
          = update.created_at
      .update-body
        = update.body
