= form_for :user do |f|
  %p
    = f.label :first_name
    = f.text_field :first_name

  %p
    = f.label :last_name
    = f.text_field :last_name

  %p
    = f.label :school
    = f.text_field :school

  %p
    = f.label :email
    = f.text_field :email

  %p
    = f.label :github
    = f.text_field :github

  %p
    = f.label :essay
    = f.text_area :essay
