!!!
%html
  %head
    %title Hackathon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'welcome'
    = stylesheet_link_tag    'hackers' if params[:controller] == 'hackers' || params[:controller] == 'teams'
    = stylesheet_link_tag    'teams' if params[:controller] == 'teams'
    = stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      - if name == 'alert'
        = content_tag :div, msg, class: 'alert alert-danger' # red flash
      - elsif name =='success'
        = content_tag :div, msg, class: 'alert alert-success' # green flash
      - else # normally a :notice
        = content_tag :div, msg, class: 'alert alert-info' # blue flash
    = yield
